@tailwind base;
@tailwind components;
@tailwind utilities;

.jacquard {
	font-family: "Jacquard 24", system-ui;
	font-weight: 400;
	font-style: normal;
}

.comic {
	font-family: "Comic Neue", cursive;
}

.redacted {
	font-family: "Redacted Script", cursive;
}
